<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Gllacy Shop</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
</head>

<body>
	<div   class="home">
	<header class="header  main-header  main-header--closed">
		<div class="main-header__wrapper">
		<img class="logo" src="image/logo.png" alt="logo" width="150px">
		<button class="main-header__toggle" type="button">Open</button>
		<div class="main-header__menu--opened">
			<nav class="main-menu">
				<ul class="main-menu">
						<li class="main-menu__item"><a class="main-menu__item--catalog" href="/catalog">Catalog</a>
							<div class="main-menu__submenu catalog">
								<h1>Unser Angebot</h1>
								<ul class="main-menu__submenu-items"> 
									<li class="main-menu__submenu-item"><a href="/catalog">Sahnig</a></li>
									<li class="main-menu__submenu-item"><a href="#">Sorbett</a></li>
									<li class="main-menu__submenu-item"><a href="#">Fruchteis</a></li>
									<li class="main-menu__submenu-item"><a href="#">Melorin</a></li>
								</ul>
							</div>
						</li> 	
					<li class="main-menu__item"><a href="#">Versand und Zahlung</a></li>
					<li class="main-menu__item"><a href="#">Über uns</a></li>
				</ul>
			</nav>
			<div class="button-head">
				<div class="lupe">
					<a href="#"></a>
				</div>
				<div class="enter">
					<a class="login" href="#">Eintritt</a>
					<a class="eingelogged" href="#">Welcome</a>		
					<div class="submenu modal-content"></div>
				</div>
				<div class="warenkorb">
					<a class="card" href="#">leer</a>
				</div>
			</div>
			<div class="header-welcome"></div>
			<div class="header-contacts">
			<p class="worktime-head">täglich von 10 bis 20</p>
			<a class="tel-head" href="tel:88124502525">8 812 450-25-25</a>
			</div>
		</div>
	</div>
	</header>
	<div class="main-content">
	<h1 class="main-content__title">Crème Brlée und Eis mit Himbeermarmelade</h1>
	<a class="button button-main" href="#"><span>Lass uns beides!</span></a>
	<div class="slider">
			<div class="slider-promo">
				<div class="slider-controls">
					<div class="banner-area--nonactive"></div>
					<div class="banner-area--nonactive"></div>
					<div class="banner-area--nonactive"></div>
				</div>

			</div>
		<div class="banner">
			<div class="slider-slides">
			<div class="banner-area">
				<div class="banner-area-left">
					<div class="banner-1">
						<h2>Himbeeren gratis!</h2>
						<p>Beim Kauf von 2 kg Eis am Stiel legen wir Ihrer Bestellung kostenlos ein Glas Himbeermarmelade bei</p>
						<a class="button banner-button" href="#"><span>Ich will Marmelade!</span></a>
					</div>
				</div>
				<div class="banner-area-right">
					<div class="banner-2">
						<h2>Schokolade gratis!</h2>
						<p>Beim Kauf von 2 kg Eis legen wir Ihrer Bestellung kostenlos eine Packung leckeres Schokoladenpulver bei.</p>
						<a class="button banner-button" href="#">Ich will Schokolade!</a>
					</div>
				</div>
			</div>
			<div class="banner-area">
				<div class="banner-area-left">
					<div class="banner-3">
						<h2>Und wem die Erdbeere?</h2>
						<p>Beim Kauf von 2 kg Eis am Stiel legen wir Ihrer Bestellung kostenlos ein Glas Erdbeermarmelade bei</p>
						<a class="button banner-button" href="#"><span>Ich will Marmelade!</span></a>
					</div>
				</div>
				<div class="banner-area-right">
					<div class="banner-4">
						<h2>Fabelhafte Orange</h2>
						<p>Beim Kauf von 2 kg Eis legen wir 2 Päckchen Orangensaft gratis dazu</p>
						<a class="button banner-button" href="#">Ich will Orangensaft!</a>
					</div>
				</div>
			</div>
			<div class="banner-area">
				<div class="banner-area-left">
					<div class="banner-5">
						<h2>Mmmmm... Blaubeeren!</h2>
						<p>Beim Kauf von 2 kg Eis am Stiel legen wir Ihrer Bestellung kostenlos eine Dose Blaubeermarmelade bei</p>
						<a class="button banner-button" href="#"><span>Ich will Marmelade!</span></a>
					</div>
				</div>
				<div class="banner-area-right">
					<div class="banner-6">
						<h2>Neuer Geschmack - Limette!</h2>
						<p>Beim Kauf von 2 kg Eis legen wir Ihrer Bestellung eine Kiste "Corona" Bier gratis bei</p>
						<a class="button banner-button" href="#">Ich will Bier!</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	</div>
	<div class="hit-main">
		<div class="hit-main__items">
			<img class="hit" src="image/hit.png" alt="hit">
			<img class="ice" src="image/1.png" alt="hit1">
			<p class="price">5<span class="ed">&#8364;</span>/kg</p>
			<a href="#" class="description">Sahnig mit Orangenmarmelade und Zitrusflocken</a>
			<a class="button button-hidden" href="#">Schnellansicht</a>
		</div>
		<div class="hit-main__items">
			<img class="hit" src="image/hit.png" alt="hit">
			<img class="ice" src="image/2.png" alt="hit2" width="267px">
			
			<p class="price">7<span class="ed">&#8364;</span>/kg</p>
			<a href="#" class="description">Cremiger mit Schokostückchen</a>
			<a class="button button-hidden" href="#">Schnellansicht</a>
		</div>
		<div class="hit-main__items">
			<img class="hit" src="image/hit.png" alt="hit">
			<img class="ice" src="image/3.png" alt="hit3" width="267px">
			
			<p class="price">5<span class="ed">&#8364;</span>/kg</p>
			<a href="#" class="description">Cremige Erdbeere mit weißem Schokoladenpulver</a>
			<a class="button button-hidden" href="#">Schnellansicht</a>
		</div>
		<div class="hit-main__items">
			<img class="hit" src="image/hit.png" alt="hit">
			<img class="ice" src="image/4.png" alt="hit4" width="267px">
			
			<p class="price">6<span class="ed">&#8364;</span>/kg</p>
			<a href="#" class="description">Cremige Crème Brlée mit Karamellsauce</a>
			<a class="button button-hidden" href="#">Schnellansicht</a>
		</div>
	</div>
	<div class="main-information">
		<h2>Glacy Store ist ein Online- und Offline-Shop, der Eiscreme aus eigener Produktion nach Gewicht verkauft selling</h2>
		<div class="main-information-list">
			<div class="information-description">
				<img src="image/ice.png" alt="ice" width="49px" height="49px">
				<p>Alle unsere Eiscremes werden in unserer eigenen Produktion mit modernen Geräten und bewährten Technologien hergestellt.</p>
			</div>
			<div class="information-description">
				<img src="image/cow.png" alt="cow" width="49px" height="49px">
				<p>Die Zutaten werden nur von vertrauenswürdigen Bauernhöfen und Unternehmen gekauft, mit denen wir eine langjährige Zusammenarbeit haben.</p>
			</div>
			<div class="information-description">
				<img src="image/blatt.png" alt="blatt" width="49px" height="49px">
				<p>Für die Eiszubereitung werden echte Sahne und Milch höchster Qualität verwendet. Alle weiteren Zutaten und Zusatzstoffe werden aus natürlichen, umweltfreundlichen Rohstoffen hergestellt.</p>
			</div>
			
			<div class="information-description">
				<img src="image/grad.png" alt="grad" width="49px" height="49px">
				<p>Die Lieferung unseres Eises an die Kunden erfolgt in einer speziellen Thermoverpackung, die ein Schmelzen des Eises auf dem Weg verhindert und seinen hervorragenden Geschmack behält.</p>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="news">
			<h5>Neu in unserem Blog</h5>
			<a href="#" class="news-content">
				<span class="underline">10 Arten zu dienen</span> 
				<span class="underline">Fruchtsorbets</span>
				<span class="underline">zum Tisch</span></a>
		</div>
		<div class="post">
			<h5>Abonnieren Sie unseren süßen Newsletter und Sie werden immer über das Leckerste informiert, das bei uns passiert. Wir versprechen, keinen Spam oder unnötigen Unsinn zu versenden. Ehrlich =)</h5>
			<form class="form" action="#" method="post">
				<input class="text" type="email" name="post" placeholder="Email">
				<input class="button button-post" type="submit" value="Senden">
		  </form>
		</div>	
	</div>
	<div class="contacts">
		<div class="contacts__wrapper">
			<div class="contacts-items">
				<h5>Adresse des Hauptsitzes und des Offline-Shops:</h5>
				<p>Saalfelder Str. 111, Nürnberg</p>
				<p class="map">So erreichen Sie uns:</p>
				<h5>Für telefonische Bestellungen:</h5>
				<p class="tel">8 812 450-25-25</p>
				<h5>(täglich von 10 bis 20)</h5>
				<a class="button contacts-button" href="#">Feedback-Formular</a>
			</div>
		</div>
	</div>
	<footer>
		<div class="social-button">
			<a class="social social-tw" href="#"></a>
			<a class="social social-inst" href="#"></a>
			<a class="social social-fb" href="#"></a>
			<a class="social social-vk" href="#"></a>
		</div>
		<div class="footer-information">
			<div class="footer-items1">
				<a class="footer-information__hart" href="#"><b>Für Lieferanten</b></a>
				<a href="#">Über die Produktion</a>
			</div>
			<div class="footer-items2">
				<a href="#">Unsere Dokumente</a>
				<a href="#">Ökostandards</a>
			</div>
		</div>
		<div class="footer-logo">
			<a href="#" class="footer-logo__img"><img src="image/footer-logo.png" alt="company"></a>
			<a href="#">Erstellt von HTML Academy &copy; 2016</a>
		</div>
	</footer>
	<div class="submenu modal-content">
							
	</div>
	<div class="submenu submenu-card">
					
	</div>
	<div class="submenu submenu-form">
					<form action="#" method="post">
						<input class="lupe-form submenu-text" type="text" placeholder="Was suchen wir?">
					</form>
	</div>
	<div class="submenu submenu-kontakt">
		<a class="kontakt-form-close" href="#"></a>
		<h2 class="kontakt-form">Wir werden Ihnen auf jeden Fall antworten!</h2>
		
		<form action="#" method="post">
			<input class="submenu-text name-area" type="text" name="name" placeholder="Wie heißenSie?">
			<input class="submenu-text name-area" type="email" name="post" placeholder="Ihre Mail für eine Antwort?">
			<textarea class="submenu-text message-area" name="message" placeholder="Schreibe etwas..."></textarea>
			<input class="button button-submenu-kontakt" type="submit" value="Senden">
		</form>
	</div>
	<div class="modul-map">
		<div class="modul-map-close"></div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2592.7137589902677!2d11.113718391294!3d49.47102297198985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x410c9f65de652ac5%3A0xd5716615f72f1687!2sBlumen%20St%C3%BCberl!5e0!3m2!1sru!2sde!4v1624551999952!5m2!1sru!2sde" width="100%" height="430" style="border:0;" allowfullscreen="" loading="lazy"></iframe></iframe>
		
	</div>
</div>
<script src="js/popup.js"></script>
</body>
</html>
